<div class="register">
  <div class="container">
    <div class="col-md-12">
      <!--<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login">-->
      <form class="form" role="form" data-ng-submit="doLogin()" accept-charset="UTF-8" id="login">
        <div class="form-group">
          <h2>Enter your pseudo</h2>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPseudo"></label>
          <input type="text" class="form-control" id="inputPseudo" placeholder="pseudo"
                 data-ng-model="pseudo" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="isBusy">Sign in</button>
        </div>
      </form>
      <div class="alert alert-info" data-ng-if="info">
        <i class="fa fa-user-times"></i>
        If you don't have a SpacesWars account, you can connect with my own account :
        <br>
        <span style="margin-left: 20px">
          - Enter <strong>Draym</strong> .
        </span>
      </div>
    </div>
  </div>
</div>
