<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Planets
      <i class="fa fa-info-circle pull-right" style="font-size: 150%; color: #31b0d5" aria-hidden="true"
         data-ng-click="openHelp()"></i>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
          <label class="sr-only" for="selectG"></label>
          <select name="selectG" id="selectG" class="form-control"
                  data-ng-model="currentSelect.G"
                  data-ng-options="current as current.name for current in galaxy"
                  data-ng-change="parseUnparsedPlanets()">
          </select>
        </div>
        <div class="col-md-2">
          <label class="sr-only" for="selectS"></label>
          <select name="selectS" id="selectS" class="form-control"
                  data-ng-model="currentSelect.S"
                  data-ng-options="current as current.name for current in system"
                  data-ng-change="parseUnparsedPlanets()">
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-inline" style="padding-left: 5px; margin-bottom: 10px">
            <label for="name">Search : </label>
            <input type="text" name="path" id="name" class="form-control"
                   value="" data-ng-model="searchPlayer" placeholder="pseudo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 10%">#</th>
              <th style="width: 40%">Position</th>
              <th style="width: 30%">Owner</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="6">
              <div class="pagination pull-right">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active"
                         data-ng-class="{disabled: firstPage()}"
                         data-ng-click="prevPage()">
                    <input type="radio" name="options" id="prev" autocomplete="off"> Prev
                  </label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="options" id="current" autocomplete="off"> {{currentPage + 1}}
                  </label>
                  <!--
                  <button class="btn btn-info" data-ng-class="{'selected' : n + 1 == currentPage}"
                          data-ng-repeat="n in range(currentPage, pagedItems.length) track by $index"
                          data-ng-click="setPage(n)">
                    <span data-ng-if="n >= 0">{{n + 1}}</span>
                    <span data-ng-if="n < 0">...</span></button>-->
                  <label class="btn btn-primary active"
                         data-ng-class="{disabled: lastPage()}"
                         data-ng-click="nextPage()">
                    <input type="radio" name="options" id="next" autocomplete="off"> Next
                  </label>
                </div>
              </div>
            </td>
            </tfoot>
            <tbody>
            <tr data-ng-repeat="planet in pagedItems[currentPage] track by planet.index"
                data-ng-click="detailPlayer(planet.player)">
              <td>{{planet.index + 1}}</td>
              <td>{{planet.position.g}} : {{planet.position.s}} : {{planet.position.p}}</td>
              <td>{{planet.player.pseudo}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
