<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Players
      <i class="fa fa-info-circle pull-right" style="font-size: 150%; color: #31b0d5" aria-hidden="true"
         data-ng-click="openHelp()"></i>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div class="form-inline" style="padding-left: 5px; margin-bottom: 10px">
            <label for="name">Search : </label>
            <input type="text" name="path" id="name" class="form-control"
                   value="" data-ng-model="searchPlayer" placeholder="player">
          </div>
        </div>
        <div class="col-md-5">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" disabled>
              <input type="radio" name="options" id="menu" autocomplete="off"> Sort by
            </label>
            <label class="btn btn-primary"
            data-ng-click="sortByScore()">
            <input type="radio" name="options" id="sortScore" autocomplete="off"> Score
            </label>
            <label class="btn btn-primary"
                   data-ng-click="sortByASC()">
              <input type="radio" name="options" id="sortASC" autocomplete="off"> ASC
            </label>
            <label class="btn btn-primary"
                   data-ng-click="sortByDESC()">
              <input type="radio" name="options" id="sortDESC" autocomplete="off"> DESC
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover" id="dataTables-example">
            <thead>
            <tr>
              <th>#</th>
              <th>Pseudo</th>
              <th>Score</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="6">
              <div class="pagination pull-right">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active"
                         data-ng-class="{disabled: firstPage()}"
                         data-ng-click="prevPage()">
                    <input type="radio" name="options" id="prev" autocomplete="off"> Prev
                  </label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="options" id="current" autocomplete="off"> {{currentPage + 1}}
                  </label>
                  <label class="btn btn-primary active"
                         data-ng-class="{disabled: lastPage()}"
                         data-ng-click="nextPage()">
                    <input type="radio" name="options" id="next" autocomplete="off"> Next
                  </label>
                </div>
              </div>
            </td>
            </tfoot>
            <tbody>
            <tr data-ng-repeat="player in pagedItems[currentPage] track by player.index"
                data-ng-click="detailPlayer(player)">
              <td>{{player.index + 1}}</td>
              <td>{{player.pseudo}}</td>
              <td>{{player.score.total}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
