.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #fafafa;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 23px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container-head {
  width: 90%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.drop {
  padding: 15px;
  border: 2px #cbcbcb dashed;
  border-radius: 5px;
  line-height: 34px;
}

.clear {
  clear: both;
}

.gallery-box {
  width: 200px;
  padding: 5px;
  margin: 7px;
  float: left;
  height: 200px;
  border: 1px solid #ddd;
  overflow: hidden;
}

/* DEFAULT */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: caslon-webfont, Georgia, serif;
  font-weight: normal;
  font-style: normal;
  color: #333;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1;
}

body {
  font-family: larsseit-webfont, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #777;
}

.row-fix {
  margin-left: -19px;
  margin-right: -19px;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.titleBackGrey, .titleBackBlack {
  background-color: #eee;
  color: #8D8D8D;
  font-family: larsseit-bold-webfont, Helvetica, Arial, sans-serif;
  padding: .625rem .3125rem .625rem .9375rem;
  margin-bottom: 1.25rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1.2;
  overflow: hidden;
  min-height: 2.5rem;
  font-weight: bold;
}

.recipe_main .inline-datas {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.25em;
}

.inline-datas {
  margin-bottom: 1.25em;
}

.menu {
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.recipe_main .inline-datas li {
  padding: 1.25rem .625rem;
  text-align: center;
}

.menu.expanded > li {
  flex: 1 1 0px;
}

.inline-datas li {
  font-size: 1.3rem;
}

.has-tip {
  border-bottom: none;
  font-weight: normal;
  position: relative;
  display: inline-block;
  cursor: help;
}

.recipe_ingredients ul {
  list-style-type: none;
  margin: 0 0 1.875em;
  padding: 0;
}

.recipe_ingredients ul li {
  border-bottom: 1px solid #ccc;
  padding: .625rem;
}

.p10 {
  padding: 10px !important;
}

.dblock {
  display: block;
}

.txt-dark-gray {
  color: #333;
}

.bold {
  font-weight: bold;
}

.borders-grey {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

@media screen and (max-width: 992px) {
  .resp-block-border-grey {
    border-bottom: 1px solid #e3e3e3;
  }
}

@media screen and (min-width: 992px) {
  .resp-block-border-grey {
    border-right: 1px solid #e3e3e3;
  }
}

/* ==========================================================================
btn
========================================================================== */

.btn-grey {
  color: white;
  background-color: #8194a6;
  border-color: #677685;
}

.btn-grey:hover {
  color: white;
  background-color: #3d4d4f;
  border-color: #354345;
}

.btn-grey.active {
  color: white;
  background-color: #425456;
  border-color: #3d4d4f;
}

.btn-danger.active {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}

.btn-primary.active {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-success.active {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-warning.active {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-noEvent {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}